@inject ICarritoServicio carritoServicio;
@implements IDisposable;
@using Ecommerce.Web.Extensiones;
@using Microsoft.AspNetCore.Components.Authorization;
@using System.Security.Claims;
@inject NavigationManager _navigationManager;
@inject AuthenticationStateProvider authenticacionProvider;
@inject SweetAlertService Swal;


<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" runat="server" href="#">Ecommerce Demo</a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Alternar navegación" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="@NavMenuCssClass navbar-collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">

                @* el usuario puede ver las rutas solo si es usuario con rol administrador *@
                <AuthorizeView Roles="Administrador">

                    <li class="nav-item" b-test><NavLink class="nav-link" href="dashboard"> Dashboard</NavLink></li>
                    <li class="nav-item"><NavLink class="nav-link" href="usuarios"> Usuarios</NavLink></li>
                    <li class="nav-item"><NavLink class="nav-link" href="categorias"> Categorias</NavLink></li>
                    <li class="nav-item"><NavLink class="nav-link" href="productos"> Productos</NavLink></li>

                </AuthorizeView>

                <li class="nav-item"><NavLink class="nav-link" href="catalogo"> Tienda</NavLink></li>
            </ul>

            @* si el usuario esta autorizado se muestra el email *@
            <AuthorizeView>
                <Authorized>
                    <span class="navbar-text me-3">
                        @context.User.Claims.Where(c => c.Type == ClaimTypes.Email).Select(c => c.Value).Single();
                    </span>
                </Authorized>
            </AuthorizeView>

            <a class="btn btn-outline-dark ms-auto ms-md-0 me-3" href="/cart">
                <i class="bi-cart-fill me-1"></i>
                Cart
                <span class="badge bg-dark text-white ms-1 rounded-pill">@mostrarCantidadCarrito()</span>
            </a>

            @* si el usuario esta autorizado veras el boton de salir *@
            <AuthorizeView>
                <Authorized>
                    <button class="btn btn-outline-dark ms-auto ms-md-0 me-3" type="button" @onclick="CerrarSesion" >Salir</button>
                </Authorized>
                <NotAuthorized>
                    <a class="btn btn-outline-dark ms-auto ms-md-0 me-3" href="/login">Iniciar sesion</a>
                </NotAuthorized>
            </AuthorizeView>

        </div>
    </div>
</nav>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override void OnInitialized()
    {
        carritoServicio.MostratItems += StateHasChanged;

    }

    public void Dispose()
    {
        carritoServicio.MostratItems -= StateHasChanged;
    }

    private int mostrarCantidadCarrito()
    {
        return carritoServicio.CantidadProductos();
    }


    private async Task CerrarSesion()
    {
        SweetAlertResult result = await Swal.FireAsync(new SweetAlertOptions
            {
                Title = "Desea salir?",
                Icon = SweetAlertIcon.Warning,
                ShowCancelButton = true,
                ConfirmButtonText = "Si",
                CancelButtonText = "No",
            });

        if (result.IsConfirmed)
        {
            var autenticacionExt = (AutenticacionExtension)authenticacionProvider;
            await autenticacionExt.ActulizarEstadoAutenticacion(null);
            _navigationManager.NavigateTo("/", true);
        }
    }

}
